@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;

    --border-radius: 12px;
    --font-size:15px;
    --font-color: #323232;
}

html,body {
    height: 100%;
    color: var(--font-color);
}

html{
    scroll-behavior: smooth;
}

h2 {
  font-family: "Signika Negative", sans-serif;
  font-weight: bold;
  margin-bottom: var(--spacing-2);
}

body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding: 0 var(--spacing-3);
    max-width: 900px;
    display: flex;
    flex-direction: column;
}
main{
    margin-top: 80px;
}

nav{
    background-color: white;
    width: 100%;    
    height: 80px;
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 20px;
}


.navigation-items{
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item {
    margin: var(--spacing-1);

}

.navigation-item a:hover {
    color: gray;
}


.portrait {
    width: 300px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
}

.about-me-container{
    display: flex;
}

.about-me-text-container {
    margin-right: var(--spacing-3);
}

.project-image{
    width: 50%;
}

.project-title h3{
    display: inline;
}

details{
    cursor: pointer;
}

summary {
  list-style-type: square;
  list-style-position: inside;
}

footer{
    margin-top: auto;
    padding: var(--spacing-2) 0;
    text-align: center;
}

section{
    padding: var(--spacing-3) 0;
}

a{
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

#logo{
    margin: 0;
}

.icon-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.icon-container > *{
    font-size: 2em;
    width: 2em;
    margin-top: var(--spacing-1);
}

@media only screen and (max-width: 600px) {
    .about-me-container{
        flex-direction: column-reverse;
        
    }

    .portrait{
        margin-bottom: var(--spacing-4);
    }
}

/*! GALLERY */

.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
}

.panel-image{
    aspect-ratio: 1 / 1 ;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.panel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.overlay:hover{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.panel-btn {
    background-color: whitesmoke;
    padding: var(--spacing-1);
    border-radius: var(--border-radius);  
}
.panel-btn:hover{
    filter: brightness(90%);
}

.panel-title {
    margin-top: var(--spacing-1);
    font-size: 15px;
}



/** NAV BAR & toggle **/

.menu-toggle {
    cursor: pointer;
    display: none;
}
/**each line of hambuger */
.menu-toggle > div {
    width: 20px;
    height: 3px;
    margin: 4px 0;
    background-color: black;
    transition: opacity 0.3 ease;
}


@media only screen and (max-width: 600px) {
    .navigation-items{
        display: none;
    }

    /** When active */
    .navigation-items.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 80px 20px;
        transition: left 5s ease;
    }
    
    /** Toggle animation*/

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
        
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px,-5px);
        
    }

    .menu-toggle{
        display: block;
        z-index: 99;
    }

    /** TOGGLE BG */

    .overlay-dropdown {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        z-index: 2;
    }

    .overlay-dropdown.active{
        opacity: 1;
        visibility: visible;
    }

    #logo{
        display: block;
        margin-left: 10px;
    }

    nav{
        flex-direction: row-reverse;
        justify-content: flex-end;
        z-index: 100;
    }

    nav.active{
        width: 40%;
    }
    
}

